{% extends 'basic/base.html' %}
{% block content %}

{% if messages %}
{% for msg in messages %}
<span style="color:rgb(19, 199, 19)" >{{msg}}</span>
{% endfor %}
{% endif %}
    <form action="" method="post">
        {% csrf_token %}
    <div class="row justify-content-center mt-3">
        <div class="col-auto">
            <div class="row">
                <div class="col">
                    <label for="">Number</label>
                    {{form.number}}
                </div>
                <div class="col">
                    <label for="">type</label><br>
                    {{form.v_type}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="">model</label>
                    {{form.model}}
                </div>
                <div class="col">
                    <label for="">Description</label><br>
                    {{form.desc}}
                </div>
            </div>
        </div>
    </div>
    <center>
        <button class="btn btn-primary" type="submit">
            Create
        </button>
    </center>
    </form>
{% endblock %}