{% extends 'basic/base.html' %}
{% block content %}


{% for message in messages %} 
<div class="container-fluid p-0">
  <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert" >
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>
{% endfor %}
    <form action="" method="post">
        {% csrf_token %}
    <div class="row justify-content-center mt-3">
        <div class="col-auto">
            <div class="row">
                <div class="col">
                    <label for="">Number</label>
                    {{form.number.errors}}
                    {{form.number}}
                </div>
                <div class="col">
                    <label for="">type</label><br>
                    {{form.v_type.errors}}
                    {{form.v_type}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="">model</label>
                    {{form.model.errors}}
                    {{form.model}}
                </div>
                <div class="col">
                    <label for="">Description</label><br>
                    {{form.desc.errors}}
                    {{form.desc}}
                </div>
            </div>
        </div>
    </div>
    <center>
        <button class="btn btn-primary" type="submit">
            Create
        </button>
    </center>
    </form>
{% endblock %}