{% extends 'basic/base.html' %}
{% block content %}

<div class="row justify-content-center">
    {% for message in messages %} 
    <div class="container-fluid p-0 col-8">
        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert" >
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    {% endfor %}
</div>
            

    <div>
        <div class="row justify-content-center">
            {%if user.is_superuser%}
            <a href="{% url 'create' %}" class="col-auto">
                <button class="btn btn-primary">Create a Record</button>
            </a>
            {% endif %}
        </div>
        <center>
            <div class="row justify-content-center">
                <div class="col-8">
                    <table class="mt-5 table table-striped"> <!-- Table containing Vehicle records -->
                        <thead>
                            <th class="px-4" scope="col">Vehicle Number</th>
                            <th class="px-4" scope="col">Model</th>
                            <th class="px-4" scope="col"></th>
                            {%if user.is_superuser or user.is_staff%}
                            <th class="px-4" scope="col"></th>
                            {%if user.is_superuser%}
                            <th class="px-4" scope="col"></th>
                            {% endif %} 
                            {% endif %} 



        
        
                        </thead>
                        <tbody>
                            
                            {% for obj in objects %}
                            <tr>
                                <td class="px-4">{{obj.number}}</td>
                                <td class="px-4">{{obj.model}}</td>
                                <td class="px-4">
                                    <a href="{% url 'detail' obj.id %}">
                                        <button class="btn btn-primary"> View</button>
                                    </a>
                                </td> 
                                {%if user.is_superuser or user.is_staff%}

                                <td class="px-4">
                                    <a href="{% url 'edit' obj.id %}">
                                        <button class="btn btn-warning"> Edit</button>
                                    </a>
                                </td> 
                                {%if user.is_superuser%}
                                <td class="px-4">
                                    <form action="{% url 'delete' obj.id %}" method="post">
                                        {% csrf_token %}
                                        <button 
                                            class="btn btn-danger" 
                                            type="submit" 
                                            value="DELETE" 
                                            onclick="alert('Are you sure?');"
                                        > 
                                            Remove
                                        </button>
                                    </form>
                                </td>
                                {% endif %} 
                                {% endif %}
                                                        
                            </tr> 
                             
                            {% endfor %}
                        </tbody>
                    </table><!-- Table end -->
                </div> 
            </div>

            {% if objects.has_previous %}
                <a href="?page=1" class="mr-3"><button class="btn btn-outline-primary btn-sm "> <<</button></a>
                <a href="?page={{ objects.previous_page_number }}"><button class="btn btn-outline-primary btn-sm"> Previous page</button></a>
            {% endif %}

            <button class="btn btn-primary btn-sm"> {{objects.number}}</button>

            {% if objects.has_next %}
                <a href="?page={{ objects.next_page_number }}"><button class="btn btn-outline-primary btn-sm"> Next page</button></a>
                <a href="?page={{ objects.paginator.num_pages }}"><button class="btn btn-outline-primary btn-sm"> >></button></a>
            {% endif %}


        </center>


{% endblock %}