{% extends 'basic/base.html' %}
{% block content %}

{% for message in messages %} 
<div class="container-fluid p-0">
  <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert" >
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>
{% endfor %}
            

    <div>
        <div class="row justify-content-center">
            <a href="{% url 'create' %}" class="col-auto">
                <button class="btn btn-primary">Create a Record</button>
            </a>
        </div>
        <center>
            <table class="mt-5"> <!-- Table containing Vehicle records -->
                <thead>
                    <th class="px-4">Vehicle Number</th>
                    <th class="px-4">Type</th>
                    <th class="px-4">Model</th>
                    <th class="px-4">Description</th>
                </thead>
                <tbody>
                    
                    {% for obj in object_list %}
                        <tr>
                            <td class="px-4">{{obj.number}}</td>
                            <td class="px-4">{{obj.v_type}}</td>
                            <td class="px-4">{{obj.model}}</td>
                            <td class="px-4">{{obj.desc}}</td> 
                            <td class="px-4">
                                <a href="{% url 'detail' obj.id %}">
                                    <button class="btn btn-primary"> View</button>
                                </a>
                            </td> 
                            <td class="px-4">
                                <a href="{% url 'edit' obj.id %}">
                                    <button class="btn btn-warning"> Edit</button>
                                </a>
                            </td> 
                            <td class="px-4">
                                <form action="{% url 'delete' obj.id %}" method="post">
                                    {% csrf_token %}
                                    <button 
                                        class="btn btn-danger" 
                                        type="submit" 
                                        value="DELETE" 
                                        onclick="alert('Are you sure?');"
                                    > 
                                        Remove
                                    </button>
                                </form>
                            </td> 
                                                 
                        </tr>    
                    {% endfor %}
                </tbody>
            </table><!-- Table end -->
        </center>


{% endblock %}